body 
{
    background-color: rgb(184, 253, 178);
}

#Generate
{
    margin-top: 50px;
    background-color: rgb(201, 232, 203);
    border-width: 5px;
    font-size: 400%;
    border-radius: 100px;
}

#result_box
{
    background-color: rgb(121, 255, 190);
    border-width: 2px;
    font-size: xx-large;
}

.from
{
    font-size: 200%;
}

.to
{
    font-size: 200%;
}

.x1
{
    background-color: rgb(177, 255, 160);
    font-size: 150%;
}


.disclaimer
{
    font-size: 150%;

}